
body, section {
    height: 100%;
    background-color: #0191FE;
}

#bg {
    position: absolute;
    overflow: hidden;
}

#c {
    display: block;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    background-color: #0191FE;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}
.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

#name {
    font-family: Marck Script;
    font-size: 9vw;
    color: white;
}

