.project {
    font-family: "Avenir Next";
}

.project-icon {
    margin: 0px 10px 10px 0px;
    border-radius: 5px;
    object-fit: contain;
    float: left;
    height: 80px;
}

p .no-bottom {
    margin-bottom: 0;
}

hr {
    margin: 5px 0px 10px 0px;
}

.award {
    margin-right: 5px;
    background-color: gold;
    padding: 2px 5px;
    border-radius: 5px;
}

div h6 {
    margin-top: 10px;
}

div .btn {
    padding: 5px 10px;
    font-weight: normal;
    text-decoration: none;
}

